<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{titulo}}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">    
    <style>
        td span::before {
        content: ", ";
        }
        td span:first-child::before{
            content: "";
        }

    </style>
</head>
<body>
    <h1>{{titulo}}</h1>
    <table class="table table-hover table-dark">
        <thead>
            <tr class="bg-danger">
                <th>#</th>
                <th>Título</th>
                <th>Director</th>
                <th>Protagonistas</th>
                <th>Año</th>
            </tr>
        </thead>
        <tbody>

        {% for pelicula in peliculas %}
            {% if por == "1" %}
                {% if busqueda in pelicula.titulo %}
                    <tr>
                    <td>{{pelicula.codigo}}</td>
                    <td><a href="/movie/{{pelicula.codigo}}">{{pelicula.titulo}}</a></td>
                    <td>{{pelicula.director}}</td>
                    <td>
                        {% for protagonista in pelicula.protagonistas[:2] %}
                            <span>{{ protagonista }}</span>
                        {% endfor %}
                    </td>
                    <td>{{pelicula.year}}</td>
                    </tr>
                {% endif %}
            {% else %}
                {% if busqueda in pelicula.director %}
                    <tr>
                    <td>{{pelicula.codigo}}</td>
                    <td><a href="/movie/{{pelicula.codigo}}">{{pelicula.titulo}}</a></td>
                    <td>{{pelicula.director}}</td>
                    <td>
                        {% for protagonista in pelicula.protagonistas[:2] %}
                            <span>{{ protagonista }}</span>
                        {% endfor %}
                    </td>
                    <td>{{pelicula.year}}</td>
                    </tr>
                {% endif %}
            {% endif %}
        {% endfor %}

        </tbody>
    
    </table>
</body>
</html>